@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
