@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1;
  background-color: #000;
  color: #fff;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
